@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}



::-webkit-scrollbar {
	width: 13px;
}
::-webkit-scrollbar-track {
	background: #333;
}
::-webkit-scrollbar-thumb {
	background: #FF344D;
}

body{
	::-moz-selection { 
		background-color: rgba($color: #ffffff, $alpha: 0.1);
	  }
	  
	  ::selection {
		background-color: rgba($color: #ffffff, $alpha: 0.1);
	  }
}
.body__active{
	overflow: hidden;
}

body{
	width: 100%;
	overflow-x: hidden;
}

a{
	text-decoration: none;
}

.wrap{
	width: 100%;
	min-height: 100vh;
	background-color: #fff;
	overflow: hidden;
	.popup{
		width: 100%;
		height: 100vh;
		position: absolute;
		position: fixed;
		overflow: hidden;
		z-index: 9999;
		background-image: url(../img/about/bg.png);
		background-size: cover;
		display: none;
		
	}
	.popup__active{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		animation-name: popup;
		animation-iteration-count: 1;
		animation-duration: 1s;
		padding-left: 65px;
		padding-right: 65px;
		

		@keyframes popup {
			0%{
				opacity: 0;
			}
			100%{
				opacity: 1;
			}
		}
		.close{
			width: 50px;
			height: 50px;
			position: absolute;
			right: 0%;
			top: 0%;
			margin-top: 20px;
			margin-right: 20px;
			cursor: pointer;
			transition: 1s;
			&:hover .closeFiill{
				fill: #FF344D;
				transition: 1s;
			}
		}
		.left__element{
			width: 300px;
			position: absolute;
			left: -5%;
			top: -5%;
			z-index: 1;

		}
		.right__element{
			width: 200px;
			position: absolute;
			right: -5%;
			bottom: -5%;
			z-index: 1;
		}

		.popup__main{
			width: 100%;
			height: 75vh;
			display: flex;
			.popup__arrow{
				width: 120px;
				position: absolute;
				left: 50%;
			}

			.main__left{
				width: 50%;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				
				.popu__titel{
					font-family: 'Comfortaa';
					font-style: normal;
					font-weight: 600;
					font-size: 48px;
					line-height: 55px;
					color: #FFFFFF;
					display: flex;
					z-index: 999;
	
					align-items: center;
					&::after{
						content: "";
						width: 180px;
						height: 180px;
						background-image: url(../img/about/element.svg);
						background-size: cover;
						position: absolute;
						margin-left: 90px;
						opacity: 0.4;
					
					}

				}
				.popup__description{
					font-family: 'Comfortaa';
					font-style: normal;
					font-weight: 400;
					font-size: 22px;
					line-height: 25px;
					color: #FFFFFF;
					margin-top: 15px;
					z-index: 999;
					span{
						font-weight: 700;
					}
				}

			}
			.main__rigth{
				width: 50%;
				height: 100%;
				display: flex;
				align-items: flex-end;
				justify-content: flex-end;
				.qu__code{
					width: 450px;
					position: relative;
					top: 40px;
					z-index: 999;
				}

			}

		}
		.popup__buttons{
			width: 100%;
			height: 25vh;
			display: flex;
			.buttons__cibord-box{
			width: 300px;
			display: flex;
			flex-direction: column;
			align-items: center;
			position: relative;
			bottom: 25px;
			right: 50px;
			margin-left: 50px;
			.button__popup{
				width: 250px;
				height: 73px;
				position: absolute;
				margin-bottom: 20px;
				z-index: 999;
				background-image: url(../img/about/cliboard.svg);
				background-size: cover;
				display: flex;
				align-items: center;
				justify-content: center;
				padding-bottom: 15px;
				font-family: 'Comfortaa';
				font-style: normal;
				font-weight: 600;
				font-size: 16px;
				line-height: 22px;
				text-align: center;
				color: #FFFFFF;
				display: none;
		
			
			}
			.popup__privatCopy__active{
				display: flex;
				overflow: hidden;
				p{
					animation-name: popup__privatCopy__active;
					animation-iteration-count: 1;
					animation-duration: 0.5s;
				}
			
		
				@keyframes popup__privatCopy__active {
					0%{
						opacity: 0;
						position: relative;
						top: 30px;
					}
					20%{
						opacity: 0;
					}
					100%{
						opacity: 1;
						position: relative;
						top: 0px;
					}
				}
			}


			.popup__button{
				width: 300px;
				height: 80px;
				background-color: transparent;
				border: 2px solid #FFFFFF;
				border-radius: 10px;
				margin-top: 60px;
				cursor: pointer;
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				top: 25px;
				
				

				.buttons__img{
					width: 40px;
				}
				.buttons__text{
					font-family: 'Comfortaa';
					font-style: normal;
					font-weight: 600;
					font-size: 20px;
					line-height: 27px;
					color: #FFFFFF;
					margin-left: 20px;

				}
			
			}
		}
			
		}

	}

	.homePage{
		width: 100%;
		height: 100vh;
		background-repeat: no-repeat;
		background-size: cover;
		// animation-name: homePage;
		// animation-iteration-count: infinite;
		// animation-duration: 50s;
		// background-image: url(../img/home/bg1.png);
		

		// @keyframes homePage {
		// 	0%{
		// 		background-image: url(../img/home/bg1.png);

		// 	}
		// 	10%{
		// 		background-image: url(../img/home/bg2.png);

		// 	}
		// 	20%{
		// 		background-image: url(../img/home/bg3.png);

		// 	}
		// 	30%{
		// 		background-image: url(../img/home/bg4.png);
				
		// 	}
		// 	40%{
		// 		background-image: url(../img/home/bg5.png);
				
		// 	}
		// 	50%{
		// 		background-image: url(../img/home/bg6.png);
				
		// 	}
		// 	65%{
		// 		background-image: url(../img/home/bg7.png);
				
		// 	}
		// 	85%{
		// 		background-image: url(../img/home/bg8.png);
				
		// 	}
		// }

		.header{
			width: 100%;
			height: 25vh;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-left: 110px;
			padding-right: 110px;
			.logo{
				width: auto;
				height: auto;
				transition: all 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
				transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
				cursor: pointer;
				&:hover .logo__headphones{
					fill: #CC0100;
					transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
      			    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
				}
			}
			.navigation{
				width: auto;
				height: auto;
				display: flex;
				align-items: center;
				&__box{
					width: auto;
					height: 35px;
					display: flex;
					align-items: center;
					cursor: pointer;
					.navigation__text{
						font-family: 'Montserrat';
						font-style: normal;
						font-weight: 500;
						font-size: 20px;
						line-height: 24px;
						display: flex;
						align-items: center;
						text-align: center;
						text-transform: uppercase;
						color: #FFFFFF;
						position: relative;
						left: 35px;
						margin-right: 35px;
						z-index: 999;
						&::before{
							content: '';
							width: 0px;
							height: 0px;
							background: rgba(255, 52, 77, 0.5);
							border-radius: 50%;
							bottom: 17px;
							left: 0px;
							position: absolute;
							transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
							transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 


						}
					}
					.navigation__text__active{
						&::before{
							content: '';
							width: 22px;
							height: 22px;
							background: rgba(255, 52, 77, 0.5);
							bottom: 7px;
							left: -7px;
							transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
							transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
		

						}
					
					

					}
					

					
					.navigation__kolo{
						width: 12px;
						height: 12px;
						background: #FFFFFF;
						border-radius: 50%;
						margin-left: 20px;
						transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
						transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
					}
					.navigation__kolo__active{
						background-color: #FF344D;
						transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
						transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
					}
				
				}

			}
		}
		.main{
			width: 100%;
			height: 85vh;
			padding-left: 110px;
			padding-right: 110px;
			padding-top: 100px;
	
			.sound__container{
				width: 100%;
				height: auto;
				display: flex;
				align-items: flex-start;
				.sound__box{
					width: 230px;
					height: 230px;
					border-radius: 50%;
					cursor: pointer;
					display: flex;
					align-items: center;
					justify-content: center;

					.sound__bg{
						width: 170px;
						height: 170px;
						background: rgba(255, 255, 255, 0.24);
						border: 1px solid rgba(255, 255, 255, 0.8);
						border-radius: 50%;
						display: flex;
						align-items: center;
						justify-content: center;

						.sound__main{
							width: 120px;
							height: 120px;
							background-color: #FF344D;
							display: flex;
							align-items: center;
							justify-content: center;
							border-radius: 50%;
							.play{
								width: 45px;
								height: 45px;
								position: relative;
								left: 3px;
								transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
								transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
							}
							.pause{
								width: 1px;
								height: 1px;
								position: absolute;
								transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
								transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
							}

							// active pause css animation
							.play__active{
								width: 0px;
								height: 0px;
								transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
								transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
							}
							.pause__active{
								width: 45px;
								height: 45px;
								transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
								transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
							}



						}
					}
					&::before{
						content: "";
						width: 230px;
						height: 230px;
						background: rgba(217, 217, 217, 0.05);
						border: 1px solid rgba(255, 255, 255, 0.8);
						border-radius: 50%;
						position: absolute;
						transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
						transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
					}

				}
				.sound__box__active{
					&::before{
						width: 0px;
						height: 0px;
						animation-name: sound__box__active;
						animation-delay: 1s;
						animation-iteration-count: 1;
						opacity: 0;

					
					}
				}
				.visualaiser__container{
					margin-left: 80px;

				}


			}
			.arrow__container{
				width: 100%;
				height: auto;
				display: flex;
				justify-content: flex-end;
				align-items: flex-end;
				.arrow__box{
					width: auto;
					height: auto;
					display: flex;
					align-items: center;
					position: relative;
					left: 10px;
					margin-top: 60px;
					.left__arrow{
						width: 55px;
						height: 40px;
						cursor: pointer;
						margin-right: 2px;

					}
					.right__arrow{
						width: 55px;
						height: 40px;
						cursor: pointer;
						margin-left: 2px;
					}
				}

			}
			.visualaiser__container{
			.sound__boxx{
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				.sound__name{
					font-family: 'Montserrat';
					font-style: normal;
					font-weight: 800;
					font-size: 48px;
					line-height: 65px;
					letter-spacing: 0.075em;	
					color: #FFFFFF;
					
				}
				.sound__musican{
					font-family: 'Montserrat';
					font-style: normal;
					font-weight: 400;
					font-size: 36px;
					line-height: 49px;
					letter-spacing: 0.075em;

					color: #FFFFFF;
					margin-left: 10px;
				}
			}
				  
					.sound-wave {
					  width: 700px;
					  height: 60px;
					  display: flex;
					  align-items: center;
					  justify-content: center;
					  margin-top: 30px;
				
					}
					.wisualText{
						font-family: 'Montserrat';
						font-style: normal;
						font-weight: 600;
						font-size: 32px;
						line-height: 39px;
						letter-spacing: 0.075em;
						color: #FFFFFF;
						margin-left: 5px;
						margin-right: 5px;

					}
					.bar {
					  animation-name: wave-lg;
					  animation-iteration-count: infinite;
					  animation-timing-function: ease-in-out;
					  animation-direction: alternate;
					  background: #fff; 
					  margin: 0 1.5px;
					  height:40px;
					  width: 25px; 
		
				  
					  &:nth-child(-n + 7),
					  &:nth-last-child(-n + 7) {
						animation-name: wave-md;
					  }
				  
					  &:nth-child(-n + 3),
					  &:nth-last-child(-n + 3) {
						animation-name: wave-sm;
					  }
					}
				  }
				  
				  @keyframes wave-sm {
					0% {
					  opacity: 0.35;
					  height: 10px;
					}
					100% {
					  opacity: 1;
					  height: 25px;
					}
				  }
				  
				  @keyframes wave-md {
					0% {
					  opacity: 0.35;
					  height: 15px;
					}
					100% {
					  opacity: 1;
					  height: 50px;
					}
				  }
				  
				  @keyframes wave-lg {
					0% {
					  opacity: 0.35;
					  height: 15px;
					}
					100% {
					  opacity: 1;
					  height: 70px;
					}
				  
				  


				

			}

		}

	}
	.LivePage{
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;


		.live__left{
			width: 30%;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			justify-content: center;
			.live__card{
				width: 250px;
				height: 250px;
				background: #FFFFFF;
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				border-radius: 10px;
				z-index: 10;
				display: flex;
				flex-direction: column;
				align-items: center;
				padding-top: 30px;
				margin-top: 25px;
				margin-bottom: 25px;
				margin-right: 50px;
				padding-left: 4px;
				padding-right: 4px;
				.card__img{
					width: 100px;
					height: 100px;

				}
				.card__titel{
					
				font-family: 'Montserrat';
				font-style: normal;
				font-weight: 600;
				font-size: 20px;
				line-height: 24px;
				color: #000000;
				margin-top: 10px;
				text-align: center;


				}
				.card__box{
					width: 100%;
					height: auto;
					display: flex;
					align-items: center;
					justify-content: center;
					margin-top: 10px;
					.card__info-text{
						font-family: 'Montserrat';
						font-style: normal;
						font-weight: 500;
						font-size: 18px;
						line-height: 22px;
						color: #333333;
						margin-left: 8px;
						margin-right: 8px

					}
				}



			}


		}
		.life__center{
			width: 40%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.center__titel{
				font-family: 'Montserrat';
				font-style: normal;
				font-weight: 700;
				font-size: 44px;
				line-height: 59px;
				color: #333333;
				z-index: 10;

				span{
					font-family: 'Comfortaa';
					font-weight: 700;
					color: #CC0100;


				}

			}
			.center__box{
				display: flex;
				flex-direction: column;
				align-items: center;
			.center__titel-des{
				font-family: 'Montserrat';
				font-style: normal;
				font-weight: 600;
				font-size: 30px;
				line-height: 39px;
				color: #333333;
				margin-top: 55px;
			z-index: 10;
				

			}
			.center__description{
				font-family: 'Comfortaa';
				font-style: normal;
				font-weight: 400;
				font-size: 22px;
				line-height: 34px;
				color: #000000;
				text-align: center;
				margin-top: 15px;
				z-index: 10;

			}
		}
		.life__button{
			width: 250px;
			height: 80px;
			background-image: url(../img/live/button1.png);
			background-size: cover;
			border-radius: 10px;
			display: flex;
			align-items: center;
			justify-content: center;
			border: none;
			margin-top: 70px;
			z-index: 10;
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 600;
			font-size: 20px;
			line-height: 29px;
			color: #FFFFFF;
			cursor: pointer;
			transition: 0.6s;

		
	
		}
		.life__button:hover{
			background-image: url(../img/live/button2.png);
			transition: 0.6s;
			
		}
			
		}

		.live__right{
			width: 30%;
			height: 100%;
			margin-left: 50px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			.live__card{
				width: 250px;
				height: 250px;
				background: #FFFFFF;
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				border-radius: 10px;
				z-index: 10;
				display: flex;
				flex-direction: column;
				align-items: center;
				padding-top: 30px;
				margin-top: 25px;
				margin-bottom: 25px;
				margin-right: 50px;
				padding-left: 4px;
				padding-right: 4px;
				.card__img{
					width: 100px;
					height: 100px;

				}
				.card__titel{
					
				font-family: 'Montserrat';
				font-style: normal;
				font-weight: 600;
				font-size: 20px;
				line-height: 24px;
				color: #000000;
				margin-top: 10px;


				}
				.card__box{
					width: 100%;
					height: auto;
					display: flex;
					align-items: center;
					justify-content: center;
					margin-top: 10px;
					.card__info-text{
						font-family: 'Montserrat';
						font-style: normal;
						font-weight: 500;
						font-size: 18px;
						line-height: 22px;
						color: #333333;
						margin-left: 8px;
						margin-right: 8px;
						text-align: center;

					}
				}



			}


		}
		&::after{
			content: '';
			width: 100%;
			height: 73%;
			background-image: url(../img/live/bg__line.svg);
			position: absolute;
			background-size: cover;
			z-index: 0;
		}


	}
	.about__page{
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-left: 110px;
		padding-right: 110px;
		padding-bottom: 40px;
		
		.about__titel{
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 700;
			font-size: 44px;
			line-height: 59px;
			color: #333333;
			z-index: 10;


			span{
				font-family: 'Comfortaa';
				font-weight: 700;
				color: #CC0100;


			}

		}
		.about__main{
			width: 100%;
			height: auto;
			display: flex;
			align-items: center;
			margin-top: 60px;
			.about__left{
				width: 50%;
				height: auto;
				.about__description{
					font-family: 'Comfortaa';
					font-style: normal;
					font-weight: 400;
					font-size: 22px;
					line-height: 29px;
					color: #000000;
					span{
						font-weight: 700;
						font-family: 'Montserrat';

					}

				}
			}
			.about__right{
				width: 50%;
				height: auto;
				display: flex;
				flex-direction: column;
				align-items: center;
				padding-left: 80px;
				.about__img{
					width: 500px;
					height: 320px;

				}
				.about__button{
				width: 300px;
				height: 100px;
				border: none;
				border-radius: 5px 0px;
				border: 1px solid #FF344D;
				background-color: transparent;
				margin-top: 50px;
				cursor: pointer;
				font-family: 'Montserrat';
				font-style: normal;
				font-weight: 400;
				font-size: 22px;
				line-height: 29px;
				color: #FF344D;
				display: flex;
				align-items: center;
				justify-content: center;
				overflow: hidden;
				background-image: url(../img/about/buttons.svg);
				background-size: cover;
				background-size: 0px;
				background-repeat: no-repeat;
				background-position: -300px;
				transition: all 700ms cubic-bezier(1.000, -0.400, 0.025, 1.420);
				transition-timing-function: cubic-bezier(1.000, -0.400, 0.025, 1.420); 

				&:hover{
				background-color: #CC0100 ;
				background-position: -50px ;
				transition: all 700ms cubic-bezier(1.000, -0.400, 0.025, 1.420);
				transition-timing-function: cubic-bezier(1.000, -0.400, 0.025, 1.420);
				background-size: 200px;
					color: #fff;

				}
				}

			}
		}
	}
	.team__page{
		width: 100%;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 60px;
		.team__titel{
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 700;
			font-size: 44px;
			line-height: 59px;
			color: #333333;
			z-index: 10;


			span{
				font-family: 'Comfortaa';
				font-weight: 700;
				color: #CC0100;


			}

		}
		.team__container{
			width: 70%;
			height: auto;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			margin-top: 10px;
			padding-bottom: 60px;
			.team__card{
				width: 350px;
				height: 500px;
				background: #FFFFFF;
				box-shadow: 0px 0px 9px 1px rgba(163, 163, 163, 0.42);
				border-radius: 5px 5px 0px 0px;
				margin-left: 30px;
				margin-right: 30px;
				margin-top: 50px;
				z-index: 10;
				.card__top{
					width: 100%;
					height: 65%;
					background-color: #333;
					overflow: hidden;
					cursor: pointer;
					.card__img{
						width: 100%;
						height: 100%;
						display: flex;
						justify-content: center;
						align-items: flex-end;
						background-size: cover;
						overflow: hidden;
						&::before{
							color: #fff;
							text-align: center;
							font-family: 'Montserrat';
							font-style: normal;
							font-weight: 400;
							font-size: 16px;
							line-height: 20px;
							margin-bottom: 50px;
							opacity: 0;
							z-index: 10;
							position: absolute;
							width: 330px;
							transition: all 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
							transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
						}
						&::after{
							content: "";
							position: absolute;
							width: 45px;
							height: 30px;
							background-image: url(../img/team/trick.svg);
							background-size: cover;
							margin-bottom: -0px;
							transition: 0.8s;
	
						}
						.card__kolo{
							width: 40px;
							height: 40px;
							border-radius: 50%;
							background: rgba(255, 52, 77, 0.9);
							backdrop-filter: blur(10px);
							margin-bottom: 150px;
							z-index: 0;
							transition: 0.5s;
							transform: scale(0.001);

						}
					
					}
					.card__img1{
						background-image: url(../img/team/person1.png);
						&::before{
							content: "Більше 15 років кручу вініли і це допомогло мені стати професійним музичним редактором Yantarne.FM! Як керівник радіостанції - настільки сильно люблю радіо, що воно навіть мені сниться ночами. Можу забути пообідати, але не забуваю в якому слові під час виходу ведучих поставили не той наголос ) Радіо для мене,як дитинка, а команда це моя сім'я!";
						
						}

					}
					.card__img2{
						background-image: url(../img/team/person2.png);
						&::before{
							content: "Люблю не тільки поговорити, а й послухати, напевно це тому, що я історик за фахом і колекціонувати цікаві та веселі історії здається у мене в крові. Педантичний, енергійний, спортивний та ерудований ведучий, ну зовсім трішки нижчий ростом за шефа , можу більше 4 годин в день слухати жарти Віки.";
							margin-bottom: 70px;
						
						}

					}
					.card__img3{
						background-image: url(../img/team/person3png.png);
						&::before{
							content: "Молода, амбітна, весела дівчина з мальовничого містечка Шкло! Настільки сильно полюбила радіо Yantarne.FM , що коли мої однолітки прогулюють школу і намагаються зробити так , щоб про це ніхто не дізнався - я роблю це на весь Яворівський район на 88.9! Люблю жартувати в етерах і піднімати настрій Дзіковському та слухачам!";
							margin-bottom: 60px;
						
						}

					}
					.card__img4{
						background-image: url(../img/team/person4.png);
						&::before{
							content: "Русофобка на рівні ДНК, можу вгадати скільки фінансової чи мілітарі допомоги прийде в Україну, це до моменту підписання документів. І та - це чисто інтуїція. Знаю, що сьогодні в тренді, і можу довести свою професійність у більше ніж десятках різних сфер життя протягом одної розмови. Знаю що і коли сказати, тому колеги кажуть, що «Інтерв’юер від Бога».";
						
						}

					}
					.card__img5{
						background-image: url(../img/team/person5.png);
						&::before{
							content: "Молода , енергійна , багатогранна особистість , завжди ставлю собі амбітні цілі та досягаю їх із задоволенням.Меломан , люблю слухати музику, яка надає мені сил та надихає. Професійний інтерв’ювер , можу підтримати будь яку тему в розмові з цікавим співрозмовником.";
							margin-bottom: 80px;
						
						}

					}
					.card__img6{
						background-image: url(../img/team/person6.png);
						&::before{
							content: "Радіоведучий, батько, викладач, логіст, волонтер, стендапер, анімешнік, геймер, а ще знавець публічних виступів, як це все поєднується у моїй голові, досі питання над яким думають найкращі британські та українські голови. Люблю поговорити! Фанатію від всього чим займаюсь, багато усміхаюсь, дякую Богу, що народився в Україні! Найгірша моя риса характеру, я ніколи не запізнююсь на етери!";
						
						}

					}
					.card__img7{
						background-image: url(../img/team/person7.png);
						&::before{
							content: "Енергійна, авантюристка, обожнюю гори і спорт, особливо екстримальний. Люблю спонтанні зустрічі та поїздки. Захоплююся поезією, декламую та пишу вірші(коли є натхнення)Іноді вперта, якщо вже щось собі задумала, то доб‘юся, щоб це сталося. Перечитала багато психологічний книг, тепер мої колеги стали об‘єктами для експериментів. Цікава до всього, що відбувається, ( хочу знати всі плітки у медіа світі) тому знаходжу найцікавіші та актуальні новини.";
							margin-bottom: 30px;
						}
					

					}



					&:hover{
						.card__img{
							&::before{
								padding-left: 15px;
								padding-right: 15px;
								opacity: 1;
								transition: all 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
								transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
							}
							&::after{
								content: "";
								position: absolute;
								width: 45px;
								height: 30px;
								background-image: url(../img/team/trick.svg);
								background-size: cover;
								margin-bottom: -30px;
								transition: all 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
								transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
								opacity: 0;
								
		
							}
							.card__kolo{
								margin-bottom: 150px;
								transform: scale(15);
								opacity: 1;
								transition: all 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
								transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
						
						

							}
							
						
						}
					
					}
					
				}
				.card__bottom{
					width: 100%;
					height: 35%;
					display: flex;
					flex-direction: column;
					align-items: center;
					padding-top: 25px;
					.card__titel{
						font-family: 'Montserrat';
						font-style: normal;
						font-weight: 400;
						font-size: 20px;
						line-height: 24px;
						color: #ACACAC;



					}
					.card__name{
						font-family: 'Montserrat';
						font-style: normal;
						font-weight: 500;
						font-size: 24px;
						line-height: 29px;
						color: #333333;
						margin-top: 10px;
					}
					.card__sociable{
						font-family: 'Montserrat';
						font-style: normal;
						font-weight: 400;
						font-size: 20px;
						line-height: 24px;
						color: #3B569E;
						margin-top: 30px;
						transition: 0.2s;
						&:hover{
							color: #FF344D;
							transition: 0.2s;


						}

					}

				}
			}
			&::after{
				content: "";
				width: 100%;
				height: 20%;
				position: absolute;
				z-index: 0;
				background-image: url(../img/team/bgLine1.svg);
				background-size: cover;
				margin-top: 300px;


			}
			&::before{
				content: "";
				width: 100%;
				height: 30%;
				position: absolute;
				z-index: 0;
				background-image: url(../img/team/bgLine2.svg);
				background-size: cover;
				margin-top: 800px;


			}

		}
		


	}

	.friends__page{
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 60px;
		.friends__titel{
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 700;
			font-size: 44px;
			line-height: 59px;
			z-index: 10;


			span{
				font-family: 'Comfortaa';
				font-weight: 700;
				color: #CC0100;


			}

		}
		.friend__carusel{
			width: 100%;
			height: 500px;
			display: flex;
			align-items: center;
			justify-content: center;

			.slider {
				overflow: hidden;
			  }
			  
			  .swiper-slide {
				width: auto;
				height: 400px;
				margin-right: 20px;
				display: flex;
				align-items: center;
				
			  }
			  
			  .slider__item {
				padding: 12px 32px;
				
			  }
			  
			  .swiper-wrapper {
				transition-timing-function: linear;
			  }
		}


	}
	.footer{
		width: 100%;
		height: 65vh;
		background: #230123;
		margin-top: 100px;
		display: flex;
		padding-top: 60px;
		justify-content: space-between;
		padding-left: 110px;
		padding-right: 110px;
		.left__footer{
			width: 340px;
			.footer__logo{
				width: 330px;
			}
			.footer__description{
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 400;
			font-size: 20px;
			line-height: 24px;
			color: #FFFFFF;
			margin-top: 5px;

			}
		}
		.center__footer{
			padding-top: 30px;
			margin-top: 30px;
			.center__titel{
				font-family: 'Montserrat';
				font-style: normal;
				font-weight: 500;
				font-size: 32px;
				line-height: 39px;
				color: #FFFFFF;
				padding-bottom: 10px;

			}
			.center__nav{
				font-family: 'Montserrat';
				font-style: normal;
				font-weight: 400;
				font-size: 24px;
				line-height: 29px;
				color: #FFFFFF;
				margin-top: 20px;
				cursor: pointer;
				transition: 0.2s;
				&:hover{
					color: #FF344D;
					transition: 0.2s;

				}
			}
		}
		.right__footer{
			.center__titel{
				font-family: 'Montserrat';
				font-style: normal;
				font-weight: 500;
				font-size: 32px;
				line-height: 39px;
				color: #FFFFFF;
				padding-bottom: 10px;

			}
			.footer__box{
				display: flex;
				align-items: center;
				cursor: pointer;
				margin-top: 20px;
				.footer__icon{
					width: 30px;
					height: 30px;
				}
				.footer__email{
					transition: 0.4s;
				}
				.footer__text{
				font-family: 'Montserrat';
				font-style: normal;
				font-weight: 500;
				font-size: 24px;
				line-height: 29px;
				color: #FFFFFF;
				margin-left: 15px;
				transition: 0.4s;

			}
			}
			.footer__email{
				&:hover{
					.footer__email{
						fill: #FF344D;
						transition: 0.4s;

					}
					.footer__text{
					color: #FF344D;
					transition: 0.4s;

				}
				
				}
			}
			.footer__phone{
				&:hover{
					.footer__phone{
						fill: #FF344D;
						transition: 0.4s;

					}
					.footer__text{
					color: #FF344D;
					transition: 0.4s;

				}
				
				}
			}

			.socibale__box{
				display: flex;
				align-items: center;
				margin-top: 50px;
				position: relative;
				right: 20px;
				.socibale__icon{
					width: 42px;
					height: 42px;
					cursor: pointer;
					margin-left: 20px;
			
					.sociable__icon-fill{
						transition: 0.4s;
					}
					&:hover{
						.sociable__icon-fill{
							fill: #FF344D;
							transition: 0.4s;
						}
					}
				}
			}
			
		}
	}

}





