@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

::-webkit-scrollbar {
  width: 13px; }

::-webkit-scrollbar-track {
  background: #333; }

::-webkit-scrollbar-thumb {
  background: #FF344D; }

body ::-moz-selection {
  background-color: rgba(255, 255, 255, 0.1); }
body ::selection {
  background-color: rgba(255, 255, 255, 0.1); }

.body__active {
  overflow: hidden; }

body {
  width: 100%;
  overflow-x: hidden; }

a {
  text-decoration: none; }

.wrap {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  overflow: hidden; }
  .wrap .popup {
    width: 100%;
    height: 100vh;
    position: absolute;
    position: fixed;
    overflow: hidden;
    z-index: 9999;
    background-image: url(../img/about/bg.png);
    background-size: cover;
    display: none; }
  .wrap .popup__active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation-name: popup;
    animation-iteration-count: 1;
    animation-duration: 1s;
    padding-left: 65px;
    padding-right: 65px; }
@keyframes popup {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
    .wrap .popup__active .close {
      width: 50px;
      height: 50px;
      position: absolute;
      right: 0%;
      top: 0%;
      margin-top: 20px;
      margin-right: 20px;
      cursor: pointer;
      transition: 1s; }
      .wrap .popup__active .close:hover .closeFiill {
        fill: #FF344D;
        transition: 1s; }
    .wrap .popup__active .left__element {
      width: 300px;
      position: absolute;
      left: -5%;
      top: -5%;
      z-index: 1; }
    .wrap .popup__active .right__element {
      width: 200px;
      position: absolute;
      right: -5%;
      bottom: -5%;
      z-index: 1; }
    .wrap .popup__active .popup__main {
      width: 100%;
      height: 75vh;
      display: flex; }
      .wrap .popup__active .popup__main .popup__arrow {
        width: 120px;
        position: absolute;
        left: 50%; }
      .wrap .popup__active .popup__main .main__left {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end; }
        .wrap .popup__active .popup__main .main__left .popu__titel {
          font-family: 'Comfortaa';
          font-style: normal;
          font-weight: 600;
          font-size: 48px;
          line-height: 55px;
          color: #FFFFFF;
          display: flex;
          z-index: 999;
          align-items: center; }
          .wrap .popup__active .popup__main .main__left .popu__titel::after {
            content: "";
            width: 180px;
            height: 180px;
            background-image: url(../img/about/element.svg);
            background-size: cover;
            position: absolute;
            margin-left: 90px;
            opacity: 0.4; }
        .wrap .popup__active .popup__main .main__left .popup__description {
          font-family: 'Comfortaa';
          font-style: normal;
          font-weight: 400;
          font-size: 22px;
          line-height: 25px;
          color: #FFFFFF;
          margin-top: 15px;
          z-index: 999; }
          .wrap .popup__active .popup__main .main__left .popup__description span {
            font-weight: 700; }
      .wrap .popup__active .popup__main .main__rigth {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end; }
        .wrap .popup__active .popup__main .main__rigth .qu__code {
          width: 450px;
          position: relative;
          top: 40px;
          z-index: 999; }
    .wrap .popup__active .popup__buttons {
      width: 100%;
      height: 25vh;
      display: flex; }
      .wrap .popup__active .popup__buttons .buttons__cibord-box {
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        bottom: 25px;
        right: 50px;
        margin-left: 50px; }
        .wrap .popup__active .popup__buttons .buttons__cibord-box .button__popup {
          width: 250px;
          height: 73px;
          position: absolute;
          margin-bottom: 20px;
          z-index: 999;
          background-image: url(../img/about/cliboard.svg);
          background-size: cover;
          display: flex;
          align-items: center;
          justify-content: center;
          padding-bottom: 15px;
          font-family: 'Comfortaa';
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;
          text-align: center;
          color: #FFFFFF;
          display: none; }
        .wrap .popup__active .popup__buttons .buttons__cibord-box .popup__privatCopy__active {
          display: flex;
          overflow: hidden; }
          .wrap .popup__active .popup__buttons .buttons__cibord-box .popup__privatCopy__active p {
            animation-name: popup__privatCopy__active;
            animation-iteration-count: 1;
            animation-duration: 0.5s; }
@keyframes popup__privatCopy__active {
  0% {
    opacity: 0;
    position: relative;
    top: 30px; }
  20% {
    opacity: 0; }
  100% {
    opacity: 1;
    position: relative;
    top: 0px; } }
        .wrap .popup__active .popup__buttons .buttons__cibord-box .popup__button {
          width: 300px;
          height: 80px;
          background-color: transparent;
          border: 2px solid #FFFFFF;
          border-radius: 10px;
          margin-top: 60px;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          top: 25px; }
          .wrap .popup__active .popup__buttons .buttons__cibord-box .popup__button .buttons__img {
            width: 40px; }
          .wrap .popup__active .popup__buttons .buttons__cibord-box .popup__button .buttons__text {
            font-family: 'Comfortaa';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 27px;
            color: #FFFFFF;
            margin-left: 20px; }
  .wrap .homePage {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover; }
    .wrap .homePage .header {
      width: 100%;
      height: 25vh;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 110px;
      padding-right: 110px; }
      .wrap .homePage .header .logo {
        width: auto;
        height: auto;
        transition: all 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        cursor: pointer; }
        .wrap .homePage .header .logo:hover .logo__headphones {
          fill: #CC0100;
          transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); }
      .wrap .homePage .header .navigation {
        width: auto;
        height: auto;
        display: flex;
        align-items: center; }
        .wrap .homePage .header .navigation__box {
          width: auto;
          height: 35px;
          display: flex;
          align-items: center;
          cursor: pointer; }
          .wrap .homePage .header .navigation__box .navigation__text {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            display: flex;
            align-items: center;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            position: relative;
            left: 35px;
            margin-right: 35px;
            z-index: 999; }
            .wrap .homePage .header .navigation__box .navigation__text::before {
              content: '';
              width: 0px;
              height: 0px;
              background: rgba(255, 52, 77, 0.5);
              border-radius: 50%;
              bottom: 17px;
              left: 0px;
              position: absolute;
              transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
              transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); }
          .wrap .homePage .header .navigation__box .navigation__text__active::before {
            content: '';
            width: 22px;
            height: 22px;
            background: rgba(255, 52, 77, 0.5);
            bottom: 7px;
            left: -7px;
            transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); }
          .wrap .homePage .header .navigation__box .navigation__kolo {
            width: 12px;
            height: 12px;
            background: #FFFFFF;
            border-radius: 50%;
            margin-left: 20px;
            transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); }
          .wrap .homePage .header .navigation__box .navigation__kolo__active {
            background-color: #FF344D;
            transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); }
    .wrap .homePage .main {
      width: 100%;
      height: 85vh;
      padding-left: 110px;
      padding-right: 110px;
      padding-top: 100px; }
      .wrap .homePage .main .sound__container {
        width: 100%;
        height: auto;
        display: flex;
        align-items: flex-start; }
        .wrap .homePage .main .sound__container .sound__box {
          width: 230px;
          height: 230px;
          border-radius: 50%;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center; }
          .wrap .homePage .main .sound__container .sound__box .sound__bg {
            width: 170px;
            height: 170px;
            background: rgba(255, 255, 255, 0.24);
            border: 1px solid rgba(255, 255, 255, 0.8);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center; }
            .wrap .homePage .main .sound__container .sound__box .sound__bg .sound__main {
              width: 120px;
              height: 120px;
              background-color: #FF344D;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 50%; }
              .wrap .homePage .main .sound__container .sound__box .sound__bg .sound__main .play {
                width: 45px;
                height: 45px;
                position: relative;
                left: 3px;
                transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
                transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); }
              .wrap .homePage .main .sound__container .sound__box .sound__bg .sound__main .pause {
                width: 1px;
                height: 1px;
                position: absolute;
                transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
                transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); }
              .wrap .homePage .main .sound__container .sound__box .sound__bg .sound__main .play__active {
                width: 0px;
                height: 0px;
                transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
                transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); }
              .wrap .homePage .main .sound__container .sound__box .sound__bg .sound__main .pause__active {
                width: 45px;
                height: 45px;
                transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
                transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); }
          .wrap .homePage .main .sound__container .sound__box::before {
            content: "";
            width: 230px;
            height: 230px;
            background: rgba(217, 217, 217, 0.05);
            border: 1px solid rgba(255, 255, 255, 0.8);
            border-radius: 50%;
            position: absolute;
            transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); }
        .wrap .homePage .main .sound__container .sound__box__active::before {
          width: 0px;
          height: 0px;
          animation-name: sound__box__active;
          animation-delay: 1s;
          animation-iteration-count: 1;
          opacity: 0; }
        .wrap .homePage .main .sound__container .visualaiser__container {
          margin-left: 80px; }
      .wrap .homePage .main .arrow__container {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end; }
        .wrap .homePage .main .arrow__container .arrow__box {
          width: auto;
          height: auto;
          display: flex;
          align-items: center;
          position: relative;
          left: 10px;
          margin-top: 60px; }
          .wrap .homePage .main .arrow__container .arrow__box .left__arrow {
            width: 55px;
            height: 40px;
            cursor: pointer;
            margin-right: 2px; }
          .wrap .homePage .main .arrow__container .arrow__box .right__arrow {
            width: 55px;
            height: 40px;
            cursor: pointer;
            margin-left: 2px; }
      .wrap .homePage .main .visualaiser__container .sound__boxx {
        display: flex;
        align-items: center;
        flex-wrap: wrap; }
        .wrap .homePage .main .visualaiser__container .sound__boxx .sound__name {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 800;
          font-size: 48px;
          line-height: 65px;
          letter-spacing: 0.075em;
          color: #FFFFFF; }
        .wrap .homePage .main .visualaiser__container .sound__boxx .sound__musican {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 400;
          font-size: 36px;
          line-height: 49px;
          letter-spacing: 0.075em;
          color: #FFFFFF;
          margin-left: 10px; }
      .wrap .homePage .main .visualaiser__container .sound-wave {
        width: 700px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px; }
      .wrap .homePage .main .visualaiser__container .wisualText {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 39px;
        letter-spacing: 0.075em;
        color: #FFFFFF;
        margin-left: 5px;
        margin-right: 5px; }
      .wrap .homePage .main .visualaiser__container .bar {
        animation-name: wave-lg;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        animation-direction: alternate;
        background: #fff;
        margin: 0 1.5px;
        height: 40px;
        width: 25px; }
        .wrap .homePage .main .visualaiser__container .bar:nth-child(-n + 7), .wrap .homePage .main .visualaiser__container .bar:nth-last-child(-n + 7) {
          animation-name: wave-md; }
        .wrap .homePage .main .visualaiser__container .bar:nth-child(-n + 3), .wrap .homePage .main .visualaiser__container .bar:nth-last-child(-n + 3) {
          animation-name: wave-sm; }
@keyframes wave-sm {
  0% {
    opacity: 0.35;
    height: 10px; }
  100% {
    opacity: 1;
    height: 25px; } }
@keyframes wave-md {
  0% {
    opacity: 0.35;
    height: 15px; }
  100% {
    opacity: 1;
    height: 50px; } }
@keyframes wave-lg {
  0% {
    opacity: 0.35;
    height: 15px; }
  100% {
    opacity: 1;
    height: 70px; } }
  .wrap .LivePage {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
    .wrap .LivePage .live__left {
      width: 30%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center; }
      .wrap .LivePage .live__left .live__card {
        width: 250px;
        height: 250px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
        margin-top: 25px;
        margin-bottom: 25px;
        margin-right: 50px;
        padding-left: 4px;
        padding-right: 4px; }
        .wrap .LivePage .live__left .live__card .card__img {
          width: 100px;
          height: 100px; }
        .wrap .LivePage .live__left .live__card .card__titel {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 24px;
          color: #000000;
          margin-top: 10px;
          text-align: center; }
        .wrap .LivePage .live__left .live__card .card__box {
          width: 100%;
          height: auto;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 10px; }
          .wrap .LivePage .live__left .live__card .card__box .card__info-text {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #333333;
            margin-left: 8px;
            margin-right: 8px; }
    .wrap .LivePage .life__center {
      width: 40%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .wrap .LivePage .life__center .center__titel {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 59px;
        color: #333333;
        z-index: 10; }
        .wrap .LivePage .life__center .center__titel span {
          font-family: 'Comfortaa';
          font-weight: 700;
          color: #CC0100; }
      .wrap .LivePage .life__center .center__box {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .wrap .LivePage .life__center .center__box .center__titel-des {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 600;
          font-size: 30px;
          line-height: 39px;
          color: #333333;
          margin-top: 55px;
          z-index: 10; }
        .wrap .LivePage .life__center .center__box .center__description {
          font-family: 'Comfortaa';
          font-style: normal;
          font-weight: 400;
          font-size: 22px;
          line-height: 34px;
          color: #000000;
          text-align: center;
          margin-top: 15px;
          z-index: 10; }
      .wrap .LivePage .life__center .life__button {
        width: 250px;
        height: 80px;
        background-image: url(../img/live/button1.png);
        background-size: cover;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        margin-top: 70px;
        z-index: 10;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 29px;
        color: #FFFFFF;
        cursor: pointer;
        transition: 0.6s; }
      .wrap .LivePage .life__center .life__button:hover {
        background-image: url(../img/live/button2.png);
        transition: 0.6s; }
    .wrap .LivePage .live__right {
      width: 30%;
      height: 100%;
      margin-left: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .wrap .LivePage .live__right .live__card {
        width: 250px;
        height: 250px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
        margin-top: 25px;
        margin-bottom: 25px;
        margin-right: 50px;
        padding-left: 4px;
        padding-right: 4px; }
        .wrap .LivePage .live__right .live__card .card__img {
          width: 100px;
          height: 100px; }
        .wrap .LivePage .live__right .live__card .card__titel {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 24px;
          color: #000000;
          margin-top: 10px; }
        .wrap .LivePage .live__right .live__card .card__box {
          width: 100%;
          height: auto;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 10px; }
          .wrap .LivePage .live__right .live__card .card__box .card__info-text {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #333333;
            margin-left: 8px;
            margin-right: 8px;
            text-align: center; }
    .wrap .LivePage::after {
      content: '';
      width: 100%;
      height: 73%;
      background-image: url(../img/live/bg__line.svg);
      position: absolute;
      background-size: cover;
      z-index: 0; }
  .wrap .about__page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 40px; }
    .wrap .about__page .about__titel {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 44px;
      line-height: 59px;
      color: #333333;
      z-index: 10; }
      .wrap .about__page .about__titel span {
        font-family: 'Comfortaa';
        font-weight: 700;
        color: #CC0100; }
    .wrap .about__page .about__main {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      margin-top: 60px; }
      .wrap .about__page .about__main .about__left {
        width: 50%;
        height: auto; }
        .wrap .about__page .about__main .about__left .about__description {
          font-family: 'Comfortaa';
          font-style: normal;
          font-weight: 400;
          font-size: 22px;
          line-height: 29px;
          color: #000000; }
          .wrap .about__page .about__main .about__left .about__description span {
            font-weight: 700;
            font-family: 'Montserrat'; }
      .wrap .about__page .about__main .about__right {
        width: 50%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 80px; }
        .wrap .about__page .about__main .about__right .about__img {
          width: 500px;
          height: 320px; }
        .wrap .about__page .about__main .about__right .about__button {
          width: 300px;
          height: 100px;
          border: none;
          border-radius: 5px 0px;
          border: 1px solid #FF344D;
          background-color: transparent;
          margin-top: 50px;
          cursor: pointer;
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 400;
          font-size: 22px;
          line-height: 29px;
          color: #FF344D;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          background-image: url(../img/about/buttons.svg);
          background-size: cover;
          background-size: 0px;
          background-repeat: no-repeat;
          background-position: -300px;
          transition: all 700ms cubic-bezier(1, -0.4, 0.025, 1.42);
          transition-timing-function: cubic-bezier(1, -0.4, 0.025, 1.42); }
          .wrap .about__page .about__main .about__right .about__button:hover {
            background-color: #CC0100;
            background-position: -50px;
            transition: all 700ms cubic-bezier(1, -0.4, 0.025, 1.42);
            transition-timing-function: cubic-bezier(1, -0.4, 0.025, 1.42);
            background-size: 200px;
            color: #fff; }
  .wrap .team__page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px; }
    .wrap .team__page .team__titel {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 44px;
      line-height: 59px;
      color: #333333;
      z-index: 10; }
      .wrap .team__page .team__titel span {
        font-family: 'Comfortaa';
        font-weight: 700;
        color: #CC0100; }
    .wrap .team__page .team__container {
      width: 70%;
      height: auto;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 10px;
      padding-bottom: 60px; }
      .wrap .team__page .team__container .team__card {
        width: 350px;
        height: 500px;
        background: #FFFFFF;
        box-shadow: 0px 0px 9px 1px rgba(163, 163, 163, 0.42);
        border-radius: 5px 5px 0px 0px;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 50px;
        z-index: 10; }
        .wrap .team__page .team__container .team__card .card__top {
          width: 100%;
          height: 65%;
          background-color: #333;
          overflow: hidden;
          cursor: pointer; }
          .wrap .team__page .team__container .team__card .card__top .card__img {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            background-size: cover;
            overflow: hidden; }
            .wrap .team__page .team__container .team__card .card__top .card__img::before {
              color: #fff;
              text-align: center;
              font-family: 'Montserrat';
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 20px;
              margin-bottom: 50px;
              opacity: 0;
              z-index: 10;
              position: absolute;
              width: 330px;
              transition: all 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
              transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); }
            .wrap .team__page .team__container .team__card .card__top .card__img::after {
              content: "";
              position: absolute;
              width: 45px;
              height: 30px;
              background-image: url(../img/team/trick.svg);
              background-size: cover;
              margin-bottom: -0px;
              transition: 0.8s; }
            .wrap .team__page .team__container .team__card .card__top .card__img .card__kolo {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background: rgba(255, 52, 77, 0.9);
              backdrop-filter: blur(10px);
              margin-bottom: 150px;
              z-index: 0;
              transition: 0.5s;
              transform: scale(0.001); }
          .wrap .team__page .team__container .team__card .card__top .card__img1 {
            background-image: url(../img/team/person1.png); }
            .wrap .team__page .team__container .team__card .card__top .card__img1::before {
              content: "Більше 15 років кручу вініли і це допомогло мені стати професійним музичним редактором Yantarne.FM! Як керівник радіостанції - настільки сильно люблю радіо, що воно навіть мені сниться ночами. Можу забути пообідати, але не забуваю в якому слові під час виходу ведучих поставили не той наголос ) Радіо для мене,як дитинка, а команда це моя сім'я!"; }
          .wrap .team__page .team__container .team__card .card__top .card__img2 {
            background-image: url(../img/team/person2.png); }
            .wrap .team__page .team__container .team__card .card__top .card__img2::before {
              content: "Люблю не тільки поговорити, а й послухати, напевно це тому, що я історик за фахом і колекціонувати цікаві та веселі історії здається у мене в крові. Педантичний, енергійний, спортивний та ерудований ведучий, ну зовсім трішки нижчий ростом за шефа , можу більше 4 годин в день слухати жарти Віки.";
              margin-bottom: 70px; }
          .wrap .team__page .team__container .team__card .card__top .card__img3 {
            background-image: url(../img/team/person3png.png); }
            .wrap .team__page .team__container .team__card .card__top .card__img3::before {
              content: "Молода, амбітна, весела дівчина з мальовничого містечка Шкло! Настільки сильно полюбила радіо Yantarne.FM , що коли мої однолітки прогулюють школу і намагаються зробити так , щоб про це ніхто не дізнався - я роблю це на весь Яворівський район на 88.9! Люблю жартувати в етерах і піднімати настрій Дзіковському та слухачам!";
              margin-bottom: 60px; }
          .wrap .team__page .team__container .team__card .card__top .card__img4 {
            background-image: url(../img/team/person4.png); }
            .wrap .team__page .team__container .team__card .card__top .card__img4::before {
              content: "Русофобка на рівні ДНК, можу вгадати скільки фінансової чи мілітарі допомоги прийде в Україну, це до моменту підписання документів. І та - це чисто інтуїція. Знаю, що сьогодні в тренді, і можу довести свою професійність у більше ніж десятках різних сфер життя протягом одної розмови. Знаю що і коли сказати, тому колеги кажуть, що «Інтерв’юер від Бога»."; }
          .wrap .team__page .team__container .team__card .card__top .card__img5 {
            background-image: url(../img/team/person5.png); }
            .wrap .team__page .team__container .team__card .card__top .card__img5::before {
              content: "Молода , енергійна , багатогранна особистість , завжди ставлю собі амбітні цілі та досягаю їх із задоволенням.Меломан , люблю слухати музику, яка надає мені сил та надихає. Професійний інтерв’ювер , можу підтримати будь яку тему в розмові з цікавим співрозмовником.";
              margin-bottom: 80px; }
          .wrap .team__page .team__container .team__card .card__top .card__img6 {
            background-image: url(../img/team/person6.png); }
            .wrap .team__page .team__container .team__card .card__top .card__img6::before {
              content: "Радіоведучий, батько, викладач, логіст, волонтер, стендапер, анімешнік, геймер, а ще знавець публічних виступів, як це все поєднується у моїй голові, досі питання над яким думають найкращі британські та українські голови. Люблю поговорити! Фанатію від всього чим займаюсь, багато усміхаюсь, дякую Богу, що народився в Україні! Найгірша моя риса характеру, я ніколи не запізнююсь на етери!"; }
          .wrap .team__page .team__container .team__card .card__top .card__img7 {
            background-image: url(../img/team/person7.png); }
            .wrap .team__page .team__container .team__card .card__top .card__img7::before {
              content: "Енергійна, авантюристка, обожнюю гори і спорт, особливо екстримальний. Люблю спонтанні зустрічі та поїздки. Захоплююся поезією, декламую та пишу вірші(коли є натхнення)Іноді вперта, якщо вже щось собі задумала, то доб‘юся, щоб це сталося. Перечитала багато психологічний книг, тепер мої колеги стали об‘єктами для експериментів. Цікава до всього, що відбувається, ( хочу знати всі плітки у медіа світі) тому знаходжу найцікавіші та актуальні новини.";
              margin-bottom: 30px; }
          .wrap .team__page .team__container .team__card .card__top:hover .card__img::before {
            padding-left: 15px;
            padding-right: 15px;
            opacity: 1;
            transition: all 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); }
          .wrap .team__page .team__container .team__card .card__top:hover .card__img::after {
            content: "";
            position: absolute;
            width: 45px;
            height: 30px;
            background-image: url(../img/team/trick.svg);
            background-size: cover;
            margin-bottom: -30px;
            transition: all 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
            opacity: 0; }
          .wrap .team__page .team__container .team__card .card__top:hover .card__img .card__kolo {
            margin-bottom: 150px;
            transform: scale(15);
            opacity: 1;
            transition: all 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); }
        .wrap .team__page .team__container .team__card .card__bottom {
          width: 100%;
          height: 35%;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-top: 25px; }
          .wrap .team__page .team__container .team__card .card__bottom .card__titel {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: #ACACAC; }
          .wrap .team__page .team__container .team__card .card__bottom .card__name {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: #333333;
            margin-top: 10px; }
          .wrap .team__page .team__container .team__card .card__bottom .card__sociable {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: #3B569E;
            margin-top: 30px;
            transition: 0.2s; }
            .wrap .team__page .team__container .team__card .card__bottom .card__sociable:hover {
              color: #FF344D;
              transition: 0.2s; }
      .wrap .team__page .team__container::after {
        content: "";
        width: 100%;
        height: 20%;
        position: absolute;
        z-index: 0;
        background-image: url(../img/team/bgLine1.svg);
        background-size: cover;
        margin-top: 300px; }
      .wrap .team__page .team__container::before {
        content: "";
        width: 100%;
        height: 30%;
        position: absolute;
        z-index: 0;
        background-image: url(../img/team/bgLine2.svg);
        background-size: cover;
        margin-top: 800px; }
  .wrap .friends__page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px; }
    .wrap .friends__page .friends__titel {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 44px;
      line-height: 59px;
      z-index: 10; }
      .wrap .friends__page .friends__titel span {
        font-family: 'Comfortaa';
        font-weight: 700;
        color: #CC0100; }
    .wrap .friends__page .friend__carusel {
      width: 100%;
      height: 500px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .wrap .friends__page .friend__carusel .slider {
        overflow: hidden; }
      .wrap .friends__page .friend__carusel .swiper-slide {
        width: auto;
        height: 400px;
        margin-right: 20px;
        display: flex;
        align-items: center; }
      .wrap .friends__page .friend__carusel .slider__item {
        padding: 12px 32px; }
      .wrap .friends__page .friend__carusel .swiper-wrapper {
        transition-timing-function: linear; }
  .wrap .footer {
    width: 100%;
    height: 65vh;
    background: #230123;
    margin-top: 100px;
    display: flex;
    padding-top: 60px;
    justify-content: space-between;
    padding-left: 110px;
    padding-right: 110px; }
    .wrap .footer .left__footer {
      width: 340px; }
      .wrap .footer .left__footer .footer__logo {
        width: 330px; }
      .wrap .footer .left__footer .footer__description {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        margin-top: 5px; }
    .wrap .footer .center__footer {
      padding-top: 30px;
      margin-top: 30px; }
      .wrap .footer .center__footer .center__titel {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 39px;
        color: #FFFFFF;
        padding-bottom: 10px; }
      .wrap .footer .center__footer .center__nav {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
        margin-top: 20px;
        cursor: pointer;
        transition: 0.2s; }
        .wrap .footer .center__footer .center__nav:hover {
          color: #FF344D;
          transition: 0.2s; }
    .wrap .footer .right__footer .center__titel {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
      line-height: 39px;
      color: #FFFFFF;
      padding-bottom: 10px; }
    .wrap .footer .right__footer .footer__box {
      display: flex;
      align-items: center;
      cursor: pointer;
      margin-top: 20px; }
      .wrap .footer .right__footer .footer__box .footer__icon {
        width: 30px;
        height: 30px; }
      .wrap .footer .right__footer .footer__box .footer__email {
        transition: 0.4s; }
      .wrap .footer .right__footer .footer__box .footer__text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
        margin-left: 15px;
        transition: 0.4s; }
    .wrap .footer .right__footer .footer__email:hover .footer__email {
      fill: #FF344D;
      transition: 0.4s; }
    .wrap .footer .right__footer .footer__email:hover .footer__text {
      color: #FF344D;
      transition: 0.4s; }
    .wrap .footer .right__footer .footer__phone:hover .footer__phone {
      fill: #FF344D;
      transition: 0.4s; }
    .wrap .footer .right__footer .footer__phone:hover .footer__text {
      color: #FF344D;
      transition: 0.4s; }
    .wrap .footer .right__footer .socibale__box {
      display: flex;
      align-items: center;
      margin-top: 50px;
      position: relative;
      right: 20px; }
      .wrap .footer .right__footer .socibale__box .socibale__icon {
        width: 42px;
        height: 42px;
        cursor: pointer;
        margin-left: 20px; }
        .wrap .footer .right__footer .socibale__box .socibale__icon .sociable__icon-fill {
          transition: 0.4s; }
        .wrap .footer .right__footer .socibale__box .socibale__icon:hover .sociable__icon-fill {
          fill: #FF344D;
          transition: 0.4s; }

/*# sourceMappingURL=style.css.map */
